.bg-pic{
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/008/654/209/large/sreehari-menon-bg4mob-part-1.jpg?1514312591);
    background-size: cover;
    height: 100vh;
  }
  
