.main {
    background-image: url(
      
    https://static.vecteezy.com/system/resources/previews/001/928/973/original/rural-nature-road-scene-free-vector.jpg
   
   
    );
    background-size: cover; /* scale the image to cover the entire background */
    background-position: center; /* center the image vertically and horizontally */
    height: 100vh;
  }
  
.lvl2bg {
    background-image: url(
      
    https://images2.alphacoders.com/106/1061712.jpg
   
    );
    background-size: cover; /* scale the image to cover the entire background */
    background-position: center; /* center the image vertically and horizontally */
    height: 100vh;
  }
  